*
{
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

html 
{
    height: 100%;
    width: 100%;
}

body 
{
	position: absolute;
	top:0;
	min-width: 1200px;
    height: 100%;
    width: 100%;
    background: #ffffff;
    color:#000000;
    font-family: "Arial", sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff;
}

div
{
	position: relative;
}

h1
{
	margin-top: 8px;
	width: 100%;
	text-align: center;
	font-size: 50px;
}

li 
{
    list-style-type: none;
}

.content
{
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: 880px;
}

.header 
{
	width: 100%;
	height:106px;
	text-align: center;
}

.octopus
{
	width: 90%;
	min-width: 1100px;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.octopus__tentacles
{
	position: relative;
	top: 0;
	height: 100%;
	width: 80%;
}

.octopus__head
{
	position: absolute;
	top: 0;
	left:80%;
	width: 20%;
  	height: 100%;
  	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	background: #e89076;
	border-left: 3px solid #934b35;
}

.octopus__head::before
{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	transform: translate(0,-2px);
  	border-bottom: 2px solid #934b35;
}

.octopus__head__eye
{
	height: 88px;
	width: 88px;
	top:25%;
	left:45%;
	border-radius: 50%;
	background: #fff;
}

.octopus__head__eye__apple
{
	height: 45%;
	width: 45%;
	top:25%;
	left: 45%;
	border-radius: 50%;
	background: #21201f;
	animation: look 8s infinite alternate-reverse;
}

@keyframes look
{
	0% {top:25%;left: 45%;}
	10% {top:20%;left: 30%;}
	25% {top:40%;left: 15%;}
	40% {top:30%;left: 10%;}
	50% {top:45%;left: 30%;}
	65% {top:50%;left: 45%;}
	90% {top:40%;left: 50%;}
	100% {top:30%;left: 45%;}
}

.octopus__tentacle_max
{
	height: 30px;
	width: 100%;
	margin-top: 8px;
	right: 0;
	text-align: right;
	background: #dddddd;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
  	border-top: 2px solid #cecece;
}

.octopus__tentacle_programming::before
{
	position: absolute;
	content: "Программирование";
	width: 55%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_programming::after
{
	position: absolute;
	content: "";
	width: 20%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 55%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_english::before
{
	position: absolute;
	content: "Английский язык";
	width: 20%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_english::after
{
	position: absolute;
	content: "";
	width: 30%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 20%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_responsibility::before
{
	position: absolute;
	content: "Ответственность";
	width: 65%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_responsibility::after
{
	position: absolute;
	content: "";
	width: 10%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 65%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_perseverance::before
{
	position: absolute;
	content: "Усидчивость";
	width: 70%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_perseverance::after
{
	position: absolute;
	content: "";
	width: 10%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 70%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_learnability::before
{
	position: absolute;
	content: "Обучаемость";
	width: 80%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_learnability::after
{
	position: absolute;
	content: "";
	width: 5%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 80%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_task::before
{
	position: absolute;
	content: "Решение задач";
	width: 65%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_task::after
{
	position: absolute;
	content: "";
	width: 15%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 65%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_enterprise::before
{
	position: absolute;
	content: "Предприимчивость";
	width: 30%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_enterprise::after
{
	position: absolute;
	content: "";
	width: 25%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 30%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_stressresistance::before
{
	position: absolute;
	content: "Стрессоустойчивость";
	width: 50%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_stressresistance::after
{
	position: absolute;
	content: "";
	width: 20%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 50%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_courage::before
{
	position: absolute;
	content: "Смелость";
	width: 60%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_courage::after
{
	position: absolute;
	content: "";
	width: 5%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 60%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_organization::before
{
	position: absolute;
	content: "Организованность";
	width: 70%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_organization::after
{
	position: absolute;
	content: "";
	width: 15%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 70%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_design::before
{
	position: absolute;
	content: "Дизайн";
	width: 45%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_design::after
{
	position: absolute;
	content: "";
	width: 25%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 45%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_graphiceditors::before
{
	position: absolute;
	content: "Владение графическими редакторами";
	width: 60%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_graphiceditors::after
{
	position: absolute;
	content: "";
	width: 15%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 60%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_sociability::before
{
	position: absolute;
	content: "Коммуникабельность";
	width: 55%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_sociability::after
{
	position: absolute;
	content: "";
	width: 25%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 55%;
	transform: translate(3px,-2px);
	height: 30px;
	background: linear-gradient(to left, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_curiosity::before
{
	position: absolute;
	content: "Любопытство";
	width: 90%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_curiosity::after
{
	position: absolute;
	content: "";
	width: 10%;
	border-top-right-radius: 32px;
  	border-bottom-right-radius: 32px;
	left: 10%;
	transform: translate(3px,-2px);
	height: 32px;
	background: linear-gradient(to right, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-right: 3px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_laziness::before
{
	position: absolute;
	content: "Лень";
	width: 65%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_laziness::after
{
	position: absolute;
	content: "";
	width: 15%;
	border-top-right-radius: 32px;
  	border-bottom-right-radius: 32px;
	left: 35%;
	transform: translate(3px,-2px);
	height: 32px;
	background: linear-gradient(to right, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-right: 3px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_greed::before
{
	position: absolute;
	content: "Жадность";
	width: 55%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.octopus__tentacle_greed::after
{
	position: absolute;
	content: "";
	width: 10%;
	border-top-right-radius: 32px;
  	border-bottom-right-radius: 32px;
	left: 45%;
	transform: translate(3px,-2px);
	height: 32px;
	background: linear-gradient(to right, rgba(255, 233, 168, 0) 0%, rgba(255, 233, 168, 1) 100%);
	border-right: 3px solid rgba(150, 112, 0, 0.5);
}

.octopus__tentacle_new-need-more::before
{
	position: absolute;
	content: "";
	width: 5%;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	transform: translate(3px,-2px);
	height: 30px;
	background: #e89076;
  	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

.tips_tentacle-need
{
	position: absolute;
	left: 50%;
	transform: translate(-250px,-2px);
	width: 194px;
	height: 30px;
	top: 66px;
	border-radius: 32px;
	background: linear-gradient(to left, rgba(255, 233, 168, 1) 0%, rgba(255, 233, 168, 0) 50%, rgba(255, 233, 168, 1) 100%);
	border-left: 3px solid rgba(150, 112, 0, 0.5);
	border-right: 3px solid rgba(150, 112, 0, 0.5);
  	border-bottom: 2px solid rgba(150, 112, 0, 0.5);
}

.tips_tentacle-current
{
	position: absolute;
	right: 50%;
	transform: translate(250px,0);
	width: 200px;
	height: 32px;
	top: 66px;
	border-radius: 32px;
	background:#e89076;
	border-left: 3px solid #934b35;
  	border-bottom: 2px solid #934b35;
}

