*
{
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

html 
{
    height: 100%;
    width: 100%;
}

body 
{
	position: absolute;
	top:0;
	min-width: 1200px;
    height: 100%;
    width: 100%;
    background: #ffffff;
    color:#000000;
    font-family: "Arial", sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff;
}

div
{
	position: relative;
}

h1
{
	margin-top: 8px;
	width: 100%;
	text-align: center;
	font-size: 50px;
}

li 
{
    list-style-type: none;
}

.content
{
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: 880px;
}

.header 
{
	width: 100%;
	height:106px;
	text-align: center;
}

.octopus
{
	width: 90%;
	min-width: 1100px;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.octopus__tentacles
{
	position: relative;
	top: 0;
	height: 100%;
	width: 80%;
}

.octopus__head
{
	position: absolute;
	top: 0;
	left:80%;
	width: 20%;
  	height: 100%;
  	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	background: #000;
}

.octopus__head__eye
{
	height: 88px;
	width: 88px;
	top:25%;
	left:45%;
	border-radius: 50%;
	background: #fff;
}

.octopus__head__eye__apple
{
	height: 45%;
	width: 45%;
	top:25%;
	left: 45%;
	border-radius: 50%;
	background: #000;
	animation: look 8s infinite alternate-reverse;
}

@keyframes look
{
	0% {top:25%;left: 45%;}
	10% {top:20%;left: 30%;}
	25% {top:40%;left: 15%;}
	40% {top:30%;left: 10%;}
	50% {top:45%;left: 30%;}
	65% {top:50%;left: 45%;}
	90% {top:40%;left: 50%;}
	100% {top:30%;left: 45%;}
}

.octopus__tentacle_if-need-more
{
	height: 32px;
	width: 100%;
	margin-top: 8px;
	text-align: right;
	background: #9b9b9b;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
}

.octopus__tentacle_if-need-less
{
	height: 32px;
	width: 100%;
	margin-top: 8px;
	text-align: right;
	background: #000000;
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
}

.octopus__tentacle_programming::before
{
	position: absolute;
	content: "Программирование";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 65%;
	background: #000000;
}

.octopus__tentacle_english::before
{
	position: absolute;
	content: "Английский язык";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 25%;
	background: #000000;
}

.octopus__tentacle_responsibility::before
{
	position: absolute;
	content: "Ответственность";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 70%;
	background: #000000;
}

.octopus__tentacle_perseverance::before
{
	position: absolute;
	content: "Усидчивость";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 90%;
	background: #000000;
}

.octopus__tentacle_learnability::before
{
	position: absolute;
	content: "Обучаемость";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 85%;
	background: #000000;
}

.octopus__tentacle_task::before
{
	position: absolute;
	content: "Решение задач";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 80%;
	background: #000000;
}

.octopus__tentacle_enterprise::before
{
	position: absolute;
	content: "Предприимчивость";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 35%;
	background: #000000;
}

.octopus__tentacle_stressresistance::before
{
	position: absolute;
	content: "Стрессоустойчивость";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 60%;
	background: #000000;
}

.octopus__tentacle_courage::before
{
	position: absolute;
	content: "Смелость";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 75%;
	background: #000000;
}

.octopus__tentacle_organization::before
{
	position: absolute;
	content: "Организованность";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 70%;
	background: #000000;
}

.octopus__tentacle_curiosity::before
{
	position: absolute;
	content: "Любопытство";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 95%;
	background: #000000;
}

.octopus__tentacle_design::before
{
	position: absolute;
	content: "Дизайн";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 50%;
	background: #000000;
}

.octopus__tentacle_graphiceditors::before
{
	position: absolute;
	content: "Владение графическими редакторами";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 60%;
	background: #000000;
}

.octopus__tentacle_sociability::before
{
	position: absolute;
	content: "Коммуникабельность";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 65%;
	background: #000000;
}

.octopus__tentacle_laziness::before
{
	position: absolute;
	content: "Лень";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 55%;
	background-image: linear-gradient(to right, #9b9b9b, #000000);
}

.octopus__tentacle_greed::before
{
	position: absolute;
	content: "Жадность";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 40%;
	background-image: linear-gradient(to right, #9b9b9b, #000000);
}

.octopus__tentacle_new-need-more::before
{
	position: absolute;
	content: "";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
	right: 0;
	height: 32px;
	width: 5%;
	background: #000000;
}

.octopus__tentacle_new-need-less::before
{
	position: absolute;
	content: "";
	border-top-left-radius: 32px;
  	border-bottom-left-radius: 32px;
  	background-image: linear-gradient(to right, #9b9b9b, #000000);
  	right: 0;
	height: 32px;
	width: 5%;
}

.tips_tentacle-need
{
	position: absolute;
	left: 50%;
	transform: translate(-450px,0);
	width: 400px;
	height: 32px;
	top: 66px;
	border-radius: 32px;
	background:#9b9b9b;
}

.tips_tentacle-current
{
	position: absolute;
	right: 50%;
	transform: translate(450px,0);
	width: 400px;
	height: 32px;
	top: 66px;
	border-radius: 32px;
	background:#000000;
}

