*
{
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

html 
{
    height: 100%;
    width: 100%;
}

body 
{
	min-width: 1200px;
    height: 100%;
    width: 100%;
    background: #4743ba;
}

div
{
	position: relative;
}

h1
{
	display: inline-block;
	margin-top: 8px;
	width: 100%;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	color:#fff;
}

li 
{
    list-style-type: none;
}

.wrapper
{
	width: 100%;
	height:100%;
}

.header 
{
	background: #000;
	width: 100%;
	height:106px;
	display: flex;
}

.content
{
	height: 100%;
	bottom: 106px;
	padding-top: 106px;
	min-height: 700px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}

.octopus
{
	width: 90%;
	min-width: 1100px;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}

.octopus-tentacles
{
	position: relative;
	top: 0;
	height: 100%;
	min-width:844px;
	width: 80%;
}

.octopus-head
{
	position: absolute;
	top: 0;
	left:80%;
	width: 20%;
  	height: 100%;
  	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	background: #e89076;
}

.octopus-eye
{
	height: 64px;
	width: 64px;
	top:20%;
	right: -40%;
	border-radius: 50%;
	background: #efc6ba;
}

.octopus-eye-apple
{
	height: 40%;
	width: 40%;
	top:22%;
	left: 44%;
	border-radius: 50%;
	background: #382520;
}

.octopus-tentacle-text
{
	position: relative;
	left: 0;
	background:none;
	border-color: #6a65ed;
	outline-color: #dd91ff;
	width: 400px;
	height: 28px;
	bottom: 0;
	text-align: right;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	color:#ffdfd6;
}

.octopus-tentacle
{
	height: 32px;
	width: 100%;
	margin-top: 8px;
}

.margin-left-for-tentacle-range
{
	margin-left: 408px;
	bottom: 32px;
	height: 100%;
}

.octopus-tentacle-range
{
	-webkit-appearance:none;
	position: relative;
	width: 100%;
  	height: 100%;
  	outline: none;
  	border-top-right-radius: 32px;
  	border-bottom-right-radius: 32px;
	background:#6a65ed;
	overflow: hidden;
	transform: scale(-1, 1);
}

.octopus-tentacle-range::-webkit-slider-thumb
{
    -webkit-appearance:none;
    background: #f4baa8;
    height: 32px;
	width: 32px;
	border-radius: 32px;
	cursor: pointer;
	box-shadow: -10016px 0 0 10000px #e89076;
}

.octopus-tentacle-range::-webkit-slider-thumb:hover, .octopus-tentacle-range::-webkit-slider-thumb:active{border: 2px solid #ffdfd6}

.octopus-tentacle-range::-moz-range-track
{
	-moz-appearance:none;
	position: relative;
	width: 100%;
  	height: 100%;
  	outline: none;
  	border-top-right-radius: 32px;
  	border-bottom-right-radius: 32px;
	background:#6a65ed;
	overflow: hidden;
	transform: scale(-1, 1);
}

.octopus-tentacle-range::-moz-range-thumb
{
    -moz-appearance:none;
    background: #f4baa8;
    height: 32px;
	width: 32px;
	border-radius: 32px;
	cursor: pointer;
	box-shadow: -10016px 0 0 10000px #e89076;
}

.octopus-tentacle-range::-moz-range-thumb:hover, .octopus-tentacle-range::-moz-range-thumb:active{border: 2px solid #ffdfd6}

.octopus-tentacle-range::-ms-track
{
	-moz-appearance:none;
	position: relative;
	width: 100%;
  	height: 100%;
  	outline: none;
  	border-top-right-radius: 32px;
  	border-bottom-right-radius: 32px;
	background:#6a65ed;
	overflow: hidden;
	transform: scale(-1, 1);
}

.octopus-tentacle-range::-ms-thumb
{
    -moz-appearance:none;
    background: #f4baa8;
    height: 32px;
	width: 32px;
	border-radius: 32px;
	cursor: pointer;
	box-shadow: -10016px 0 0 10000px #e89076;
}

.octopus-tentacle-range::-ms-thumb:hover, .octopus-tentacle-range::-ms-thumb:active{border: 2px solid #ffdfd6}

.tentacle-max-tips
{
	position: absolute;
	left: 50%;
	transform: translate(-450px,0);
	width: 400px;
	height: 32px;
	top: 66px;
	border-radius: 32px;
	background:#6a65ed;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 24px;
}

.tentacle-current-tips
{
	position: absolute;
	right: 50%;
	transform: translate(450px,0);
	width: 400px;
	height: 32px;
	top: 66px;
	border-radius: 32px;
	background:#e89076;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 24px;
}

